#test{
    background-color: rgba(0, 0, 0, 0.781);
    color: green;
    font-size: 20px;
    padding: 20px;
}

#siswa{
    color:#ff77ff;
    font-size: 20px;
}

#test2{
    font-family: Blackadder ITC;
}

#clock {
    font-size: 36px;
    margin-top: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: Curlz MT;
  }

body{
    background-image: url('umn.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.315); 
    z-index: -1; 
}

::placeholder {
    text-align: left;
    padding: 5px;
}

input[type="text"] {
    width: 100%;  
    border-radius: 5px;
    border: 5px solid #ccc; 
    padding: 8px;
}

.form-row {
    display: grid;
    grid-template-columns: auto 2fr;
    gap: 100px;
}


#nim::placeholder, #name::placeholder, #alamat::placeholder {
    grid-column: 2;
}


.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    max-width: 600px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#newNim[disabled] {
    background-color: #f2f2f2; 
}


button.edit-button {
    background-color: #15ff00; 
    color: #000000; 
    margin-right: 5px;
}


button.delete-button {
    background-color: #ff1100; 
    color: #000000;
    margin-left: 5px;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
    display: table;
    width: 100%;
  }
  
  .alert-white {
    background-image: linear-gradient(to bottom, #fff, #f9f9f9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
  }
  
  .alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  
  .alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
  }
  
  .alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    padding-top: 15px;
  }
  
  
  .alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -3px;
    background: #fff;
  }
  
  .alert-white .icon i {
    font-size: 20px;
    color: #fff;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }
  /*============ colors ========*/
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .alert-white.alert-success .icon, 
  .alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
  }
  
  .alert-white.alert-info .icon, 
  .alert-white.alert-info .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
  }
  
  
  .alert-white.alert-warning .icon, 
  .alert-white.alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
  }
  
  .alert-white.alert-danger .icon, 
  .alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
  }

  .alert-warning {
    display: flex;
    align-items: center;
}

.alert-warning .icon {
    margin-right: 10px;
}

.haha{
    margin-left: 20px;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 1s ease-in-out;
}

.haha2{
  margin-left:50px;
}