@charset "UTF-8";

html, body {
    background-image: linear-gradient(to top, var(--color01), var(--color04));
}

section#login {
    align-items: center;
    justify-content: center;
    display: flex;

}



section#login div#form {
    float: right;
    width: 50%;
    height: 100%;
    margin-top: 8%;
    align-items: center;
    justify-content: center;
}